@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
	--font-family-kyiv: 'KyivTypeSans', sans-serif;
	--font-family-mont: "Montserrat", sans-serif;
	--font-size: 16px;
	--font-weight: 400;
	--main-color: #5765F2;
	--main-color-h: #4a57df;
	--white-color: #fff;

	--category-1: #FEF18C;
	--category-2: #AAE8B8;
	--category-3: #ACEBFF;
}



.hero-block__title {
    font-weight: 900;
    font-size: clamp(32px, 4vw, 64px);
    line-height: 100%;
    color: #fff;
    margin-bottom: 12px;
}
.sub-text {
    font-family: var(--font-family-mont);
    font-weight: 500;
    font-size: clamp(14px, 3vw, 16px);
    line-height: 100%;
    color: #fff;
}


/*------------- about-hero ------------------*/ 

.about-hero {
    position: relative;
    background: url('../img/about__bg.jpg') 0 0 no-repeat;
    width: 100%;
    height: 650px;
    overflow: hidden;
}

.about-hero__body {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 650px;
    .left__content {
        padding: 54px 100px 74px 5px;
        border-radius: 0 44px 0 0;
        background: #015A46;
        max-width: 650px;
        position: relative;
        &::after {
            position: absolute;
            content: '';
            background: #015A46;
            width: 100%;
            height: 100%;
            left: -99%;
            top: 0;
        }
        &::before {
            position: absolute;
            content: '';
            // background: url('../img/bggg.svg');
            border-radius: 0 44px 0 0;
            background: #015a4798;
            transform: rotate(-3deg);
            width: 100%;
            height: 112%;
            left: 30px;
            top: -10px;
        }
        .left__content-wrapp {
             position: relative;
            z-index: 3;
        }
    }
    .right__menu {
        padding-bottom: 70px;
        li {
            padding: 15px 0;
            text-align: right;
            a {
                color: #fff;
                font-weight: 400;
                font-size: 18px;
                line-height: 100%;
                &:hover {

                }
            }
        }
        .active-link {
            position: relative;
            a {
                font-weight: 700;
                font-size: 24px;
                line-height: 100%;
                display: flex;
                align-items: center;
                img {
                    width: 32px;
                    height: 32px;
                }
            }
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background: #fff;
                left: 0;
                bottom: 0;
            }
        }   
    }
}

/*------------- go-stan ------------------*/ 
.title_h2-about {
    font-weight: 700;
    font-style: Bold;
    font-size: clamp(32px, 4vw, 44px);
    line-height: 100%;
    margin-bottom: 24px;
}
.go-stan {
}
.go-stan__body {
}
.go-stan__wrapp {
    max-width: 874px;
    margin: 0 auto;
    p {
        font-family: var(--font-family-mont);
        font-weight: 500;
        font-size: 16px;
        line-height: 160%;
        color: #5F5F5F;
        margin-bottom: 12px;
    }
}

/*------------- feature ------------------*/ 

.feature {
}
.feature__body {
}
.feature__title-block {
    text-align: center;
    .title-block__subtext {
        display: inline-block;
        font-family: var(--font-family-mont);
        font-weight: 500;
        font-size: 18px;
        line-height: 100%;
        max-width: 644px;
        margin: 0 auto 32px;
    }
}

.items__wrapp {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    .item__feature {
        background: #5765F2;
        display: flex;
        flex-direction: column;
        padding: 32px 24px;
        border-radius: 18px;
        img {
            width: 64px;
            height: 64px;
            margin-bottom: 12px;
        }
        span {
            font-family: var(--font-family-mont);
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            color: #fff;
        }
    }
}


/*------------- m-team ------------------*/ 
.m-team {
}
.m-team__heading {
}
.heading__block-team {
    max-width: 874px;
    margin: 0 auto 40px;
}
.p-text {
    font-family: var(--font-family-mont);
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #5F5F5F;
    p {
        margin-bottom: 12px;
    }
}
.all__team {
    display: flex;
    justify-content: center;
    margin-top: 32px;
}

/*------------- colors__section ------------------*/ 
.colors__section {
}
.colors__section-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .color__block {
        padding: 32px 24px;
        border-radius: 18px;
        h3 {
            font-weight: 800;
            font-size: clamp(20px, 4vw, 32px);
            line-height: 100%;
            margin-bottom: 12px;
        }
        p {
            font-family: var(--font-family-mont);
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
        }
    }
    .block_1 {
        background: #FFC7C9;
    }
    .block_2 {
        background: #AAE8B8;
    }
    .block_3 {
        background: #ACEBFF;
    }
    .block_4 {
        background: #FEF18C;
    }

}
/*-------------  ------------------*/ 
.stoty {
}
.story-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    .left-title {
        h3 {
            font-weight: 900;
            font-size: clamp(44px, 4vw, 64px);
            line-height: 100%;
        }
        p {
            font-family: var(--font-family-mont);
            font-weight: 500;
            font-size: 18px;
            line-height: 120%;
        }
    }
    .right-text {
        h4 {
            font-weight: 700;
            font-size: clamp(32px, 4vw, 44px);
            line-height: 120%;
            margin-bottom: 20px;
        }
        p {
            font-family: var(--font-family-mont);
            font-weight: 500;
            font-size: 16px;
            line-height: 140%;
        }
    }
}

.numbers-row {
    margin-top: 75px;
}
.content__nums {
}
.stats-block {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.stat_2 {
    width: 100%;
}
.visible {
}
.number__wrapp {
}
.number {
}
.num_title {
    font-family: var(--font-family-mont);
    font-weight: 700;
    font-size: clamp(16px, 4vw, 24px);
    line-height: 100%;
}
.label {
}


/*-------------  ------------------*/ 
.container {
    display: flex;
    background: #fff;
    border-radius: 16px;
    overflow: hidden;
    background: #FFBFE2;
    padding: 48px 64px;
}

.form-block {
    flex: 1;
    padding: 30px;
    background: #fff;
    border-radius: 18px;
    font-family: var(--font-family-kyiv);
}

.toggle {
    display: flex;
    background: #f5f5f5;
    border-radius: 30px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.toggle button {
    font-family: var(--font-family-kyiv);
    flex: 1;
    padding: 12px 0;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 12px;
    background: transparent;
    transition: all 0.3s;
}

.toggle button.active {
    background: #7D82BD;
    border-radius: 30px;
    color: #fff;
}

.amount {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #c5c5c5;
        .currency {
        font-size: 16px;
        margin-left: 10px;
    }
}

.amount-buttons {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    flex-wrap: wrap;
    font-family: var(--font-family-kyiv);
}

.amount-buttons button {
    padding: 8px 18px;
    font-family: var(--font-family-kyiv);
    border: 1px solid #ccc;
    border-radius: 20px;
    background: #fff;
    cursor: pointer;
    transition: all 0.3s;
}

.amount-buttons button.active {
    background: #7D82BD;
    color: #fff;
    border-color: #7D82BD;
}

.description {
    font-family: var(--font-family-mont);
    font-size: 14px;
    color: #333;
    margin-bottom: 25px;
    line-height: 1.5;
}

.submit-btn {
    font-family: var(--font-family-kyiv);
    display: block;
    width: 100%;
    padding: 20px;
    border-radius: 30px;
    background: #5765F2;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background: #4f46e5;
}

.text-block {
    flex: 1;
    padding: 40px;
}

.text-block h2 {
    font-family: var(--font-family-kyiv);
    font-size: clamp(32px, 4vw, 44px);
    font-weight: bold;
    margin-bottom: 20px;
}

.text-block p {
    margin-bottom: 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    font-family: var(--font-family-mont);

}

.req-btn {
    display: inline-block;
    background: #fff;
    font-family: var(--font-family-kyiv);
    border: none;
    padding: 22px 40px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

.req-btn:hover {
    background: #eee;
}




/*-------------  ------------------*/ 





@media (max-width:992.98px) {
    .right__menu {
        display: none;
    }
    .items__wrapp {
        grid-template-columns: repeat(3, 1fr);
    }
    
.container {
    padding: 44px 18px;
}
}

@media (max-width:768.98px) {
    .about-hero__body {
        .left__content {
            padding: 50px 50px 50px 5px;
            margin-right: 3rem;
        }
    }
    .story-row {
        grid-template-columns: 1fr;
    }
    .stats-block {
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        flex-direction: column;
        border-radius: 0;
        margin: 0 -20px;
    }
    .text-block {
        padding: 30px 0px;
    }
}

@media (max-width:640.98px) {
    .items__wrapp {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
    .colors__section-body {
        grid-template-columns: 1fr;
    }
}

@media (max-width:480.98px) {
    .items__wrapp {
        grid-template-columns: repeat(1, 1fr);
    }
    .form-block {
        padding: 24px;
    }
    .amount-buttons {
        grid-template-columns: 1fr 1fr;
        display: grid;
    }
    .req-btn {
        width: 100%;
    }
}