@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --font-family-kyiv: "KyivTypeSans", sans-serif;
  --font-family-mont: "Montserrat", sans-serif;
  --font-size: 16px;
  --font-weight: 400;
  --main-color: #5765F2;
  --main-color-h: #4a57df;
  --white-color: #fff;
  --category-1: #FEF18C;
  --category-2: #AAE8B8;
  --category-3: #ACEBFF;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

._container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}

.page {
  flex: 1 1 100%;
}

.title__h1 {
  font-weight: 900;
  font-size: clamp(62px, 5vw, 96px);
}

.title__h2 {
  font-size: clamp(32px, 5vw, 54px);
  font-weight: 700;
}

.title__h3 {
  font-size: clamp(24px, 5vw, 44px);
  font-weight: 700;
}

.button__style {
  padding: 22px 45px;
  border-radius: 35px;
  background: var(--main-color);
  color: #fff;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.button__style:hover {
  background: var(--main-color-h);
}

.button__style-border {
  padding: 22px 45px;
  border-radius: 35px;
  border: 1px solid #5765F2;
  color: #5765F2;
  font-weight: 900;
  font-size: 16px;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease 0s;
}
.button__style-border:hover {
  background: var(--main-color-h);
  color: #fff;
}

/*================ header =========================*/
.mobile-menu {
  display: none;
}

.header {
  background: transparent;
  padding: 20px 0;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: top 0.3s ease, background-color 0.3s ease;
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  max-width: 70px;
}

.header__logo-mobile {
  display: none;
}

.header__right {
  display: flex;
  align-items: center;
}

.menu__contact {
  display: none;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 100%;
}
.header__menu .menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}
.header__menu .menu__list .menu__link {
  color: #fff;
}
.header__menu .menu__list .menu__link a {
  position: relative;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: 700;
}
.header__menu .menu__list .menu__link a:hover {
  text-decoration: underline;
}
.header__menu .menu__list .menu__link a.active {
  text-decoration: underline;
}
.header__menu .menu__list .menu__link:nth-last-child(2) a {
  position: relative;
  padding-right: 10px;
}
.header__menu .menu__list .menu__link:nth-last-child(2) a:after {
  position: absolute;
  content: "|";
  left: 0;
}
.header__menu .menu__list .menu__link:last-child a {
  position: relative;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5019607843);
}
.header__menu .menu__list .menu__link:last-child a:after {
  position: absolute;
  content: "/";
  left: 0;
}

/*================ hero ===========================*/
.hero {
  height: 100vh;
}

.slider {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease;
  height: 100%;
}

.slide {
  flex: 0 0 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: white;
}

.slide::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.507) 0%, rgba(0, 0, 0, 0.22) 100%);
  z-index: 1;
}

.slide-content {
  position: absolute;
  bottom: 80px;
  left: 8vw;
  z-index: 2;
  max-width: 500px;
  margin-bottom: 40px;
}

.slide-content h3 {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 900;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.slide-content h1 {
  font-weight: 900;
  margin-bottom: 15px;
}

.slide-content p {
  font-size: clamp(14px, 4vw, 18px);
  font-weight: 500;
  margin-bottom: 20px;
}

.pagination-bars {
  position: absolute;
  bottom: 60px;
  right: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 12px;
  color: white;
  font-size: 16px;
  font-weight: 900;
  z-index: 3;
}

.bars {
  display: flex;
  align-items: center;
  gap: 6px;
}

.bar {
  width: 60px;
  height: 1px;
  background: rgb(255, 255, 255);
  transition: background 0.3s ease;
}

.bar.active {
  height: 4px;
}

.slide-number {
  min-width: 40px;
  text-align: right;
}

/*============== About ==============================*/
.section__padding {
  padding: 75px 0;
}

.m-about__heading {
  margin-bottom: 44px;
}

.m-about__body {
  display: grid;
  grid-template-columns: 50% 1fr;
  gap: 30px;
}

.m-about__img img {
  width: 100%;
  border-radius: 16px;
}

.m-about__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content__text h3 {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(24px, 4vw, 44px);
  margin-bottom: 24px;
}
.content__text p {
  font-family: var(--font-family-mont);
  font-weight: 500;
  font-size: clamp(14px, 4vw, 16px);
  line-height: 140%;
  margin-bottom: 12px;
  color: #5F5F5F;
}

.content__btn {
  margin: 18px 0;
}

.content__nums h4 {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(24px, 4vw, 32px);
  margin-bottom: 24px;
}

.stats-block {
  display: flex;
}

.stat {
  width: 220px;
}

.number__wrapp {
  display: flex;
  align-items: center;
}
.number__wrapp .number {
  font-family: var(--font-family-mont);
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(44px, 4vw, 64px);
}
.number__wrapp span {
  font-size: 48px;
  font-weight: 700;
}

.label {
  font-family: var(--font-family-mont);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  color: #5F5F5F;
  margin-top: 16px;
}

/*============== Team ==============================*/
.heading__block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 44px;
}

.link_page-mob {
  display: none;
}

.m-team__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.m-team__body .team__item .vector {
  display: inline-block;
  font-weight: 700;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  padding: 8px 16px;
  border-radius: 15px;
  background: #23272A;
  color: #fff;
  margin: 12px 0;
}
.m-team__body .team__item .name {
  font-weight: 700;
  font-style: Bold;
  font-size: clamp(18px, 2vw, 20px);
  line-height: 140%;
}
.m-team__body .team__item .email {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

/*============== project ==============================*/
.m-project__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.entry-card .entry-card-wrap .boundless-image .boundless-image-wrap .wp-post-image {
  border-radius: 16pxs;
}
.entry-card .entry-card-wrap .entry-title a {
  font-weight: 700;
  font-size: clamp(18px, 3vw, 24px);
  line-height: 140%;
  text-transform: uppercase;
}

/*==============  ==============================*/
.posts-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.posts-container .wp-post-image {
  aspect-ratio: 16/9;
  border-radius: 14px;
}
.posts-container .post-categories {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0 12px;
}
.posts-container .post-categories .post-category {
  display: inline-block;
  color: #000;
  padding: 8px 12px;
  border-radius: 15px;
  font-family: var(--font-family-mont);
  font-weight: 600;
  font-size: 10px;
  line-height: 140%;
  text-transform: uppercase;
  margin: 3px;
}
.posts-container .post-categories .cat-1 {
  background: var(--category-1);
}
.posts-container .post-categories .cat-2 {
  background: var(--category-2);
}
.posts-container .post-categories .cat-3 {
  background: var(--category-3);
}
.posts-container .entry-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.posts-container .entry-excerpt {
  font-family: var(--font-family-mont);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

/*============== partners ==============================*/
.m-partners__body .partners__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  margin-bottom: 20px;
}
.m-partners__body .partners__list li:not(:last-child) {
  border-right: 2px solid #ebebeb;
}

/*================ footer ============================*/
.footer {
  background: var(--main-color);
  border-radius: 64px 64px 0 0;
  padding: 55px 0;
  color: #fff;
}
.footer a {
  color: #fff;
}

.footer__body {
  display: flex;
  justify-content: space-between;
}

.footer__logo a {
  font-family: var(--font-family-kyiv);
  font-weight: 900;
  font-size: 72.18px;
  line-height: 100%;
  color: #fff;
}

.footer__nav {
  display: flex;
}
.footer__nav .footer-widget {
  margin: 0 30px;
}

.footer__address {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
}

.address__list .address__row {
  text-align: right;
  margin-bottom: 6px;
}

@media (min-width: 1510px) {
  ._container {
    max-width: 1490px;
  }
}
@media (max-width: 1040.98px) {
  .m-team__body {
    grid-template-columns: repeat(2, 49%);
    gap: 10px;
  }
}
@media (max-width: 959.98px) {
  .menu__icon {
    display: block;
    z-index: 8;
    position: relative;
    width: 42px;
    height: 42px;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 25px;
  }
  .menu__icon span {
    position: absolute;
    left: 11px;
    top: 13px;
    height: 2px;
    width: 20px;
    background-color: var(--white-color);
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before, .menu__icon::after {
    position: absolute;
    left: 11px;
    height: 2px;
    background-color: var(--white-color);
    transition: all 0.3s ease 0s;
    border-radius: 2px;
  }
  .menu__icon::before, .menu__icon::after {
    content: "";
  }
  .menu__icon::before {
    top: 20px;
    width: 20px;
  }
  .menu__icon::after {
    bottom: 12px;
    width: 20px;
  }
  .menu__icon._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active::before {
    top: 50%;
    left: 11px;
    width: 22px;
    background-color: #fff;
    transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active::after {
    top: 50%;
    left: 10px;
    width: 22px;
    background-color: #fff;
    transform: rotate(45deg) translate(0px, -50%);
  }
  .header {
    padding: 15px 0;
  }
  .header__body .header__logo {
    max-width: 160px;
  }
  header.dark-overlay::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8); /* полупрозрачный черный фон */
    z-index: 3; /* выше обычного контента, но ниже модалок и т.п. */
    pointer-events: none; /* чтобы не мешал кликам */
  }
  .header__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    top: 0px;
    right: 0;
    width: 70%;
    transform: translateX(100%);
    visibility: hidden;
    transition: all 0.3s ease 0s;
    background: var(--main-color);
    border-radius: 30px 0 0 30px;
    overflow-y: auto;
    z-index: 7;
  }
  .header__right .header__logo-mobile {
    display: block;
    padding: 44px 44px 12px;
  }
  .header__right .menu__contact {
    display: block;
    padding: 44px;
  }
  .header__right .menu__contact .contact__row {
    margin-bottom: 10px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
  }
  .header__right .menu__contact .contact__row a {
    color: #fff;
    font-weight: 400;
  }
  .header__right._active body {
    background: rgba(0, 0, 0, 0.5);
  }
  .header__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    padding: 12px 32px;
    width: 100%;
  }
  .header__menu .menu__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header__menu .menu__list .menu__link {
    font-weight: 700;
    font-size: 14px;
    margin-left: 0;
    margin-bottom: 5px;
    position: relative;
    width: 100%;
  }
  .header__menu .menu__list .menu__link a {
    color: #fff;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
  }
  .header__menu .wd-nav {
    margin-bottom: 32px;
  }
  .header__menu form {
    margin-right: 0;
  }
  ._active {
    visibility: visible;
    transform: translateX(0);
  }
  .header__button {
    margin-right: 3em;
  }
  .m-about__body {
    grid-template-columns: 1fr;
  }
  .m-project__body {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 992.98px) {
  .posts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}
@media (max-width: 768.98px) {
  .footer__body {
    flex-direction: column;
  }
  .footer__body .footer__logo {
    margin-bottom: 30px;
  }
  .footer__nav {
    flex-direction: column;
  }
  .footer__nav .footer-widget {
    margin: 30px 0;
  }
}
@media (max-width: 639.98px) {
  .section__padding {
    padding: 45px 0;
  }
  .slide-content {
    left: 18px;
    width: 92%;
  }
  .posts-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .footer {
    border-radius: 32px 32px 0 0;
  }
}
@media (max-width: 580.98px) {
  .m-team__body {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .link_page {
    display: none;
  }
  .link_page-mob {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  .m-project__body {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  .m-partners__body .partners__list {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 10px;
  }
  .m-partners__body .partners__list li {
    margin-bottom: 5px;
  }
  .m-partners__body .partners__list li:not(:last-child) {
    border-right: 2px solid transparent;
  }
  .m-partners__body .partners__list li:nth-child(2n+1) {
    border-right: 2px solid #ebebeb;
  }
}
@media (max-width: 479.98px) {
  .btn {
    width: 100%;
  }
  .slide-content {
    max-width: 420px;
  }
  .content__btn .m-about__btn {
    width: 100%;
  }
  .stat {
    width: 50%;
    padding: 5px;
  }
  .m-posts__body {
    width: 440px;
    overflow-x: scroll;
  }
  .m-posts__body .posts-container {
    display: grid;
    grid-template-columns: repeat(5, 340px);
    width: 1420px;
  }
}
@media (max-width: 412.98px) {
  .m-posts__body {
    width: 380px;
  }
}/*# sourceMappingURL=style.css.map */